@font-face {
  font-family: DoHyeon;
  src: url("./fonts/DoHyeon-Regular.ttf");
}

.custom-center {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

.app-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 200px;
}

.button-border {
  border: 1px solid black;
}

.fadeTitle {
  float: top-left;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: DoHyeon;
}

.switch {
  font-weight: bold;
  color: white;
}

.centered-text {
  color: #ffffff;
  text-align: center;
  margin: auto;
  width: 450px;
  padding: 10px;
}

.centered-button {
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 110px;
  border-width: 1px;
  border-color: black;
  z-index: 1;
}

.centered-button-drop {
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 290px;
  border-width: 1px;
  border-color: black;
  z-index: 1;
}

.flex-container {
  padding: 0px;
  margin: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  flex-direction: row;
}

.flex-col {
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 25%;
  box-sizing: border-box;
}

.flex-item {
  margin-right: 10px;
}

.space-between-components {
  padding-top: 20px;
  padding-right: 30px;
}

.component-header {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}

.button {
  margin: auto;
  position: "relative";
  margin-left: 10px;
}

.custom-bubbles {
  background: linear-gradient(#1a2980, #26d0ce);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.custom-particles {
  background: linear-gradient(#5c258d, #4389a2);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#container {
  width: 100%;
  height: 400px;
  -webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
  -webkit-perspective-origin: 50% 225px;
}
#stage {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
}

#shape {
  position: relative;
  top: 100px;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
}

.plane {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  -webkit-border-radius: 12px;
  -webkit-box-sizing: border-box;
  text-align: center;
  padding-top: 50px;
  font-size: 40pt;
  color: white;
  background-color: rgba(121, 85, 155, 0.6);
  -webkit-transition: -webkit-transform 2s, opacity 2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#shape.backfaces .plane {
  -webkit-backface-visibility: visible;
}

#shape {
  -webkit-animation: spin 8s infinite linear;
}

@keyframes spin {
  from { -webkit-transform: rotateX(180deg); }
  to   { -webkit-transform: rotateY(60deg); }
}

/* ---------- cube styles ------------- */
.cube > .one {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
}

.cube > .two {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
}

.cube > .three {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
}

.cube > .four {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
}

.cube > .five {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
}

.cube > .six {
  opacity: 0.5;
  -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
}


.cube > .seven {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
}

.cube > .eight {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
}

.cube > .nine {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
}

.cube > .ten {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
}

.cube > .eleven {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
}

.cube > .twelve {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
}

/* ---------- ring styles ------------- */
.ring > .one {
  -webkit-transform: translateZ(380px);
}

.ring > .two {
  -webkit-transform: rotateY(30deg) translateZ(380px);
}

.ring > .three {
  -webkit-transform: rotateY(60deg) translateZ(380px);
}

.ring > .four {
  -webkit-transform: rotateY(90deg) translateZ(380px);
}

.ring > .five {
  -webkit-transform: rotateY(120deg) translateZ(380px);
}

.ring > .six {
  -webkit-transform: rotateY(150deg) translateZ(380px);
}

.ring > .seven {
  -webkit-transform: rotateY(180deg) translateZ(380px);
}

.ring > .eight {
  -webkit-transform: rotateY(210deg) translateZ(380px);
}

.ring > .nine {
  -webkit-transform: rotateY(-120deg) translateZ(380px);
}

.ring > .ten {
  -webkit-transform: rotateY(-90deg) translateZ(380px);
}

.ring > .eleven {
  -webkit-transform: rotateY(300deg) translateZ(380px);
}

.ring > .twelve {
  -webkit-transform: rotateY(330deg) translateZ(380px);
}

.controls {
  width: 80%;
  margin: 0 auto;
  padding: 5px 20px;
  -webkit-border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}
.controls > div {
  margin: 10px;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}