@font-face {
  font-family: DoHyeon;
  src: url("./fonts/DoHyeon-Regular.ttf");
}

.custom-center {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

.app-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 200px;
  left: 0px;
}

.button-border {
  border: 1px solid black;
}

.fadeTitle {
  float: top-left;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: DoHyeon;
}

.rightSwitch {
  top: 30px;
  float: right;
  font-weight: bold;
  color: white;
  text-align: center;
}

.centered-text {
  color: #ffffff;
  text-align: center;
  margin: auto;
  position: "relative";
}

.centered-button {
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 110px;
  border-width: 1px;
  border-color: black;
  z-index: 1;
}

.centered-button-drop {
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 290px;
  border-width: 1px;
  border-color: black;
  z-index: 1;
}

.flex-container {
  padding: 0px;
  margin: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  flex-direction: row;
}

.flex-col {
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 25%;
  box-sizing: border-box;
}

.flex-item {
  margin-right: 10px;
}

.space-between-components {
  padding-top: 20px;
  padding-right: 30px;
}

.component-header {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}

.button {
  margin: auto;
  position: "relative";
  margin-left: 10px;
}

.custom-bubbles {
  background: linear-gradient(#1a2980, #26d0ce);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.custom-particles {
  background: linear-gradient(#5c258d, #4389a2);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
